'''
Ben Rudinski
Topher's Lovers
SoftDev
K17: Style Layer
2024-10-14
time spent: 1 hr
'''

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282121;
    color: #000;
    overflow: hidden;
}

.container {
    display: flex;
    height: calc(100vh - 150px); 
}

nav {
    background-color: #ccc;
    width: 25%; 
    padding: 30px;
    color: #000; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
    color: white;
}

nav h3 {
    color: #000; 
    margin-bottom: 20px; 
}

header {
    background-color: #A3A19A; 
    padding: 20px;
    text-align: center;
    color: white; 
    width: 100%;
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: #ccc;
    color: #000; 
}

footer {
    background-color: #454141; 
    color: #9c9797; 
    text-align: right; 
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}        

h1 {
    color: white;
}

h2 {
    color: #000; 
}