<!--
TNPG: Topher Forever
Roster: Ben Rudinski, Claire Song, Tiffany Yang
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response Page</title>
</head>
<body>
    <h1>{{ greeting }}</h1>
    <p>Request Method Used: {{ method }}</p>
    <p>{{ explanation }}</p>

    <h2>Team: {{ team_name }}</h2>
    <h3>Roster: {{ roster | join(', ') }}</h3>

    <a href="/">Go back to the form</a>
</body>
</html>